<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean id="employee" class="com.ebs.beans.Employee"
		name="employee">
		<property name="emp_id" value="1"></property>
		<property name="emp_name" value="Rishabh"></property>
		<property name="emp_address" value="Mumbai"></property>
		<property name="username" value="rish_abh"></property>
		<property name="emp_joindate" value="1/1/2018"></property>
		<property name="emp_leavedate" value="30/12/2020"></property>
		<property name="emp_salary" value="100000"></property>
		<property name="password" value="abcd"></property>
		<property name="enabled" value="true"></property>
	</bean>

	<bean id="project" class="com.ebs.beans.Project">
		<property name="proj_id" value="1"></property>
		<property name="proj_name" value="Spring"></property>
		<property name="proj_start_date" value="1/1/2018"></property>
		<property name="proj_estimated_end_date" value="1/2/2018"></property>
		<property name="proj_end_date" value="1/3/2018"></property>
		<property name="proj_client_name" value="Imtiyaz sir"></property>
		<property name="budget" value="10000"></property>
		<property name="status" value="Active"></property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="driverClassName" value="${jdbc.driver}"></property>
	</bean>
	
	<bean id="Account" class="com.ebs.model.Account"></bean>
	
	<context:property-placeholder location="classpath:com/ebs/main/jdbc.properties" />
	
	
	<context:component-scan
		base-package="com.ebs.beans,com.ebs.model">
	</context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	<context:annotation-config></context:annotation-config>
	
</beans>
